{
    "presets": ["next/babel"],
    "plugins": [
        ["styled-components",
            {
            "ssr": true,
            "displayName": true,
            "preprocess": false,
            "fileName": true
        },
        "babel-plugin-styled-components"
      ]
    ]
}